name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:

  compile:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code 
      uses: actions/checkout@v4 

    - name: Setup Node.js
      uses: actions/setup-node@v4 
      with: 
         node-version: '23'
         
    - name: Frontend compilation
      run: |
         cd client 
         find . -name "*js" -exec node --check {} +

    - name: Backend compilation
      run: |
         cd api 
         find . -name "*js" -exec node --check {} +

  gitleaks-scan:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
      - name: Gitleaks setup
        uses: gitleaks/gitleaks-actions@v2
      - name: Gitleaks Scan
        run: |
           gitleaks detect --source ./client --exit-code 1
           gitleaks detect --source ./api --exit-code 1

  trivy_fs_scan:
    runs-on: ubuntu-latest
    needs: gitleaks-scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
      - name: Run Trivy Vulnerability Scan (fs)
        uses: aquasecurity/trivy-action@0.33.1
        with:
           scan-type: 'fs'
           scan-ref: '.'
           image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
           format: 'table'
           ignore-unfixed: true
           vuln-type: 'os,library'
           severity: 'CRITICAL,HIGH'

  build_backend_docker_image_and_push:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan
    steps:
      - name: Docker Checkout
        uses: actions/checkout@v4
       
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./api
          file: ./api/Dockerfile
          push: true
          tags: |
            adijaiswal/backend:latest
            adijaiswal/backend:${{ env.IMAGE_TAG }}
    
  build_frontend_docker_image_and_push:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan
    steps:
      - name: Docker Checkout
        uses: actions/checkout@v4
       
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          tags: |
            adijaiswal/frontend:latest
            adijaiswal/frontend:${{ env.IMAGE_TAG }}

  trivy_image_scan:
    runs-on: ubuntu-latest
    needs: 
      - build_backend_docker_image_and_push
      - build_frontend_docker_image_and_push
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
      - name: Run Image Scan for Backend Vulnerabilities
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: adijaiswal/backend:${{ env.IMAGE_TAG }}
          format: table
          exit-code: '0'  # Corrected typo here
          ignore-unfixed: true
          vuln-type: os,library
          severity: 'CRITICAL,HIGH'
      - name: Run Image Scan for Frontend Vulnerabilities
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: adijaiswal/frontend:${{ env.IMAGE_TAG }}
          format: table
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: os,library
          severity: 'CRITICAL,HIGH'

  update_cd_repo:
    runs-on: ubuntu-latest
    needs: trivy_image_scan
    steps:
      - name: Checkout CD repo
        uses: actions/checkout@v4
        with:
          repository: MIN2MAX-M/3-Tier-GitOps-CD
          ref: main
          token: ${{ secrets.CD_REPO_TOKEN }}
          path: cd

      - name: Install yq
        run: |
          curl -s https://github.com/mikefarah/yq/releases/download/v4.16.1/yq_linux_amd64 -o yq
          sudo install yq /usr/local/bin/yq

      - name: Bump images in manifests
        working-directory: cd
        run: |
          yq eval -i '.spec.template.spec.containers[] | select(.name=="backend").image = "adijaiswal/backend:" + strenv(IMAGE_TAG)' cd/k8s-prod/backend.yaml
          yq eval -i '.spec.template.spec.containers[] | select(.name=="frontend").image = "adijaiswal/frontend:" + strenv(IMAGE_TAG)' cd/k8s-prod/frontend.yaml

      - name: Commit and push to CD repo
        working-directory: cd
        run: |
          git config user.name "ci-bot"
          git config user.email "ci-bot@user.noreply.github.com"
          git add .
          git commit -m "Bump images to ${IMAGE_TAG}" || echo "No changes"
          git push

